[Unit]
Description="A script to check binderhub pods for cryptominers and delete them"

[Service]
User=milky
Group=milky
ExecStart=/etc/systemd/system/minesweep-systemd.sh
